/* Estilos para o corpo da página */
body {
font-family: Arial, sans-serif;
background-color: #f5f5f5;
margin: 0;
padding: 0;
}

/* Estilos para o cabeçalho da página */
header {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
}

/* Estilos para a descrição do site */
.description {
font-size: 18px;
margin: 20px;
}

/* Estilos para o link do favicon */
#favicon-link {
text-decoration: none;
color: #0074d9;
}

/* Estilos para o botão de instalação em dispositivos móveis */
.install-button {
background-color: #0074d9;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

/* Estilos para o contêiner do aplicativo React */
#root {
display: flex;
justify-content: center;
align-items: center;
min-height: 80vh;
}